.search-bar {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    border: 2px solid var(--netflix-dark); /* Dark Netflix color */
    border-radius: 8px;
    background-color: #141414; /* Netflix dark background */
    color: var(--netflix-white); /* Netflix white text */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:focus {
    border-color: var(--netflix-red); /* Netflix red on focus */
    outline: none;
    box-shadow: 0 4px 8px rgba(229, 9, 20, 0.4); /* Red shadow for focus */
}
